@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StudentId)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Enrollement)
  @Html.EditorFor(model => model.Enrollement)

  @Html.Label("Select Course")
  @Html.DropDownList("CourseId")
  @Html.LabelFor(model => model.Completed)
  @Html.CheckBoxFor(model => model.Completed)
  <input type="submit" value="Save"/>
}

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>